# Energy and frequency

With Planck's constant $h$, we write the relation between energy and frequency as:

$$E = hf$$

$$E = hc/\lambda$$

$x_{1}$

$$F=G\frac{m_{1}m_{2}}{r^2}$$

$$\sin(2x) = 2\sin(x)\cos(x)=\frac{2\tan(x)}{1+tan^2(x)}$$

In [1]:
from math import *
alpha_d = 30                  # degrees
alpha_r = radians(alpha_d)    # Now in radians
ans1=sin(2*alpha_r)
ans2=2*sin(alpha_r)*cos(alpha_r)
ans3=2*tan(alpha_r)/(1+tan(alpha_r)**2)
print (ans1,ans2,ans3)

0.8660254037844386 0.8660254037844386 0.8660254037844386

question 2.5

$$\displaystyle\sum_{k=0}^{\infty} \frac{1}{4k^2-1} = \frac{1}{2}$$

$$\int_0^\pi \mathrm{e}^{mathrm{i}*x}\,\mathrm{d}x = 2*mathrm{i}$$

$$\int_0^\pi \mathrm{e}^{ix}\,\mathrm{d}x = 2$$\int_0^\pi \mathrm{e}^{mathrm{i}*x}\,\mathrm{d}x = 2*mathrm{i}$$i$$

In [2]:
from math import exp,log
x=3
answer=exp(log(x))
print (int(answer))

3

In [3]:
from math import factorial
ans=factorial(100)
print (e(ans))

TypeError: 'float' object is not callable

In [ ]:
years = Y = input("YEARS")
months = M = input("MONTHS: ")
days = D = input("DAYS")

Y = int(years)
M = int(months)
D = int(days)

JD = 367*Y -7*(Y+(M+9)/12)/4 - 3*((Y+(M-9)/7)/100 + 1)/4 + (275*M)/9 + D + 1721029-0.5
b = f"The Julian date for your date is: {JD}"
print(b)

In [ ]:
from math import *
x=2
y=3
ans1=atan2(3,2)
ans11=tan(ans1)
ans2= y/x
print (ans11)
print (ans2)

question 2.12

In [11]:
x = input("value for x")
y = input("value for y")

x = int(x)
y = int(y)

angle = atan2(y,x)
angledeg = degrees(angle)

print (angledeg)

if x > 0 and y > 0:
    print ("point is in the first quadrant")

elif x < 0 and y > 0:
    print ("point is in the second quadrant")

elif x < 0 and y < 0:
    print ("point is in the third quadrant")

else:
    print ("point is in the fourth quadrant")

value for x 2
value for y 3

56.309932474020215
point is in the first quadrant

Question 2.14

In [17]:
X = [1.36,  1.46,  1.41,  2.12,  0.42,  0.98,  0.45,  1.97, -0.24, 2.18]
X.append(0.51)
X.remove(2.12)

print (X)
print(X[6])
# Which index is the value 1.46? index 1

X2 = X[2:-2:2]
x3 = sum(X2)
print(X[2:-2:2]) 
print (x3)

[1.36, 1.46, 1.41, 0.42, 0.98, 0.45, 1.97, -0.24, 2.18, 0.51]
1.97
[1.41, 0.98, 1.97]
4.359999999999999

Question 2.15

In [28]:
night1 = [1,3,2,4,0,3,7,5,2,9,2,4,3]
night2 = [0,0,2,4,2,4,3,2,1,1,1,2,0]
set1=set(night1)
set2=set(night2)
print (set1)
print (set2)
inters = set.intersection(set1, set2)
print (inters)
nightinters = list(inters)
print (nightinters)

if 5 in nightinters:
    print("'5' is part of nightinters")
else:
    print("'5' is NOT part of nightinters")

if 5 in night1:
    print("'5' is part of night1")
else:
    print("'5' is NOT part of night1")

{0, 1, 2, 3, 4, 5, 7, 9}
{0, 1, 2, 3, 4}
{0, 1, 2, 3, 4}
[0, 1, 2, 3, 4]
'5' is NOT part of nightinters
'5' is part of night1

question 2.16

In [37]:
night1 = [1,3,2,4,0,3,7,5,2,9,2,4,3]
night2 = [0,0,2,4,2,4,3,2,1,1,1,2,0]

setnight1=set(night1)
setnight2=set(night2)

set1 = set.intersection(setnight1, setnight2)
list1 = list(set1)
print (list1)

set2 =  setnight1.difference(setnight2)
list2 = list(set2)
print (list2)

set3 = setnight1.union(setnight2)
list3 = list(set3)
print (list3)

night1 =set.intersection(setnight1, setnight2)
list1 = list(night1)
print (list1)

[0, 1, 2, 3, 4]
[9, 5, 7]
[0, 1, 2, 3, 4, 5, 7, 9]
[0, 1, 2, 3, 4]

quetion 2.17

In [64]:
planetsmass = { 'Mercury' : 0.33,
                'Venus'   : 4.87, 'Earth'   : 5.98,
                'Mars'    : 0.65, 'Jupiter' : 1900,
                'Saturn'  :  570, 'Uranus'  :  87,
                'Neptune' :  100, 'Pluto'   :  0.7 }

masses = planetsmass.values()
planets = planetsmass.keys()
planetslist = list(planets)
masseslist = list(masses)
print (planetslist)


valuevenus = masseslist [1]
valueearth = masseslist [2]
print (valuevenus)
print (valueearth)
massvenus_earthmasses = valuevenus/valueearth
b = f" the mass of venus in earthmasses is {massvenus_earthmasses}"
print (b)

del planetsmass['Pluto']
planetsmass['Planet Nine']  = 29.3
print (planetsmass)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
4.87
5.98
 the mass of venus in earthmasses is 0.81438127090301
{'Mercury': 0.33, 'Venus': 4.87, 'Earth': 5.98, 'Mars': 0.65, 'Jupiter': 1900, 'Saturn': 570, 'Uranus': 87, 'Neptune': 100, 'Planet Nine': 29.3}

In [ ]:
planetslist.append('Planet Nine')
masseslist.append(29.3)

question 2.18

In [65]:
a = b = [1,2,3,4]
c = b
print (a)
print (b)
print (c)
a[2]=0
print (a)
print (b)
print (c)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 0, 4]
[1, 2, 0, 4]
[1, 2, 0, 4]

question 2.19

In [101]:
import numpy as np

mu, sigma = 0.0, 1.4 # mean and standard deviation

s = np.random.normal(mu, sigma, 100000)
print (s)
mean = np.mean(s)
print (mean)
std = np.std(s)
print (std)

[-2.26392459  0.73010258  1.35560337 ...  1.58330819 -0.94704706
  0.1250495 ]
-0.0002289516277121615
1.4021082919849746

In [77]:
import numpy as np
x = np.linspace(0,100)
list1 = np.sinc(x)
print(list1[:9])

[1.         0.01994524 0.01978149 0.01951036 0.01913453 0.01865768
 0.01808448 0.01742053 0.01667227]

question 2.21

In [96]:
s = 1
step = 2
k = 2
print (1)
print (2)
while k < 100:
    s, step = step , s+ step
    k+=1
    print (step)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075
573147844013817084101