In [1]:
years1 = Y1 = input("YEARS1")
months1 = M1 = input("MONTHS1 ")
days1 = D1 = input("DAYS1")
years2 = Y2 = input("YEARS2")
months2 = M2 = input("MONTHS2: ")
days2 = D2 = input("DAYS2")

Y1 = float(years1)
M1 = float(months1)
D1 = float(days1)
Y2 = float(years2)
M2 = float(months2)
D2 = float(days2)

JD = 367*Y2 -7*(Y2+(M2+9)/12)/4 - 3*((Y2+(M2-9)/7)/100 + 1)/4 + (275*M2)/9 + D2 + 1721029-0.5 - (367*Y1 -7*(Y1+(M1+9)/12)/4 - 3*((Y1+(M1-9)/7)/100 + 1)/4 + (275*M1)/9 + D1 + 1721029-0.5)
b = f"the amount of dates between the two chosen dates is {JD}"
print(b)

YEARS1 2026
MONTHS1  2
DAYS1 17
YEARS2 2007
MONTHS2:  1
DAYS2 15

the amount of dates between the two chosen dates is -6972.016150793526